.App{
    margin: 200px auto;
    
}
.background{
    background-color: #05808d;
}
.cardImg{
    border-radius: 10px 10px 0 0;
}
.card:hover{
   box-shadow: 5px 10px 20px 1px #05808d;
   transition: all 0.7s linear;
}
.card-body{
    padding: 2rem 0;
}
.card-text{
    padding: 0.3rem 1rem;
    font-size: 1rem;
}